<a href="https://colab.research.google.com/github/sudonglee/python-for-ds/blob/main/02_%EB%B3%80%EC%88%98%EC%99%80_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lecture 02. 변수와 자료형**
- 작성자: 이수동 (울산대학교 산업경영공학부 | sudonglee@ulsan.ac.kr)
- 참고자료: 빌 루바노빅, 『처음 시작하는 파이썬(2판)』, 최길우 옮김, 한빛미디어(2020).

# **Introduction**

## 첫 Python 코드 작성
저와 함께 여러분의 첫번째 Python 코드를 작성해봅시다!

In [ ]:
a = 7
print(a)

hello = 'Hello, world!'
print(hello)

- 축하합니다! 🎉 이제 어디 가셔서 "나 Python 코딩 해봤어!"라고 말하셔도 됩니다. 👏👏👏
- 이제 여러분이 작성한 코드를 함께 살펴봅시다.

## "Python 데이터는 **객체**다"

- 여러분이 작성한 코드의 산출물(output)은 컴퓨터의 *메모리(memory)*에 저장됩니다. 
- 컴퓨터 메모리는 일련의 긴 선반으로 생각할 수 있습니다. 
<br></br>
![image](https://user-images.githubusercontent.com/27403189/149460897-fb8736bc-a367-43f9-8255-89b111e4cf17.png)

- *객체(object)*는 선반 위의 상자라고 생각해보세요.
- 방금 작성한 코드의 `a = 7`이라는 명령문에 의해, 한 상자에 `7`이라는 __정수(integer)__ 타입의 __값__이 담겼습니다.
<br></br>
<img src='https://user-images.githubusercontent.com/27403189/149461714-42fe89dc-8bde-4fbe-adb7-813f71fec874.png' width=200>

Python에서 객체란 데이터를 표현하는 최소의 단위로, 아래의 정보를 포함합니다. 
1. **타입(type)** 정의
2. 타입과 연관된 **값**
3. 다른 객체와 구별하기 위한 고유 **ID**
4. 객체의 사용 빈도를 추적하는 **참조 횟수**

(본 강의의 특성 상 3, 4는 자세히 다루지 않겠습니다. 👌)

# **변수(Variable)**
- *변수(variable)*는 프로그래밍 언어의 핵심 개념입니다. 
- 변수를 통해 객체를 정의하고 다룰 수 있습니다.

## 변수의 할당(assignment)

`a = 7`의 해석
- 수학: "`a`에 `7`을 대입한다." or "`a`와 `7`은 같다."
- Python: "`a`에 `7`을 할당한다."

선반과 상자 예시로 돌아가면, 변수의 할당은 객체에 해당하는 상자에 **이름표**를 붙이는 것과 같습니다. 
<br>
<br>
<img src='https://user-images.githubusercontent.com/27403189/149472567-bc96dada-c3db-4eae-bd01-0e305e81a849.png' width='200'>

상자 안의 내용을 바꿔볼까요?

In [ ]:
print(a)
a = 3
print(a)

Python의 변수명(variable name)에는 몇 가지 규칙이 있습니다. 
- 다음 문자만 사용할 수 있다. 
  - 영어 소문자(`a`-`z`)
  - 영어 대문자(`A`-`Z`)
  - 숫자(`0`-`9`)
  - 언더바(`_`)
- **대소 문자**를 구분한다. 즉, `thing`, `Thing`, `THING`은 서로 다른 이름이다.
- 숫자가 아닌 문자나 언더바로 시작한다.
- Python 예약어(키워드)는 사용할 수 없다. ([Python Keyword List](https://docs.python.org/3/reference/lexical_analysis.html#keywords))

**사용할 수 *있는* 변수명 예시:**
- a
- a1
- a_b_c___95
- _abc
- _1a

**사용할 수 *없는* 변수명 예시:**
- 1
- 1a
- 1_
- name!
- another-name

## "변수는 장소가 아니라 이름이다."

- 변수에 대해 꼭 알아야 할 점! Python의 변수는 단지 **이름**입니다.(이 특징은 프로그래밍 언어마다 다릅니다.)
- 할당(assignment)은 값을 복사하지 않고, 단지 데이터를 포함하는 객체에 이름을 붙입니다.

아래 예시를 살펴봅시다.

In [ ]:
a = 7
print(a)

b = a
print(b)

<img src='https://user-images.githubusercontent.com/27403189/149526023-7649cf5c-c09d-4094-b490-0a8e29746ff9.png' width=200>

컴퓨터(인터프리터)가 위 코드를 처리하는 과정:
1. 변수 `a`에 값 `7`을 할당한다. 즉, 정수 `7`을 포함하는 객체 상자를 만든다.
2. 변수 `a`를 출력한다.
3. 변수 `a`를 변수 `b`에 할당한다. 변수 `b`도 `7`을 포함하는 객체 상자를 가리킨다.
4. 변수 `b`의 값을 출력한다.

In [ ]:
print(a)

In [ ]:
a = 3
print(a)
print(b)

<img src='https://user-images.githubusercontent.com/27403189/149527454-cfed4d24-1d51-4c28-8cb8-f99c507b34ad.png' width=400>

In [ ]:
a = [1, 2]
b = a
print(a, b)

In [ ]:
a[0] = 3
print(a, b)

# **자료형(Type)**

- Python은 다양한 자료형(type)의 데이터를 다룰 수 있습니다.
- `type()` 함수를 이용하여 데이터의 자료형을 확인할 수 있습니다.

<img src='https://user-images.githubusercontent.com/27403189/149528522-0db5604e-5dc6-4511-b1d6-224459294611.png' width=600>

In [ ]:
a = 3
b = True
c = 2.8
print(type(a), type(b), type(c))

이번 강의에서는 불리언(`bool`), 정수(`int`), 부동소수점(`float`), 텍스트 문자열(`str`)에 대해 자세히 살펴보겠습니다.

## 불리언(Boolean, `bool`)
Python에서 불리언 데이터 타입은 `True`(참)와 `False`(거짓) 중 하나의 값만 가질 수 있습니다.

In [ ]:
a = True
print(a)
print(type(a))

In [ ]:
b = False
print(b)
print(type(b))

 Python 함수 `bool()`은 모든 파이썬 데이터 타입을 불리언으로 변환합니다.

- 7주차에 **함수**에 대해 자세히 다룹니다.
- 지금은 함수의 **이름** 뒤 **()**에 입력 **인수(argument)**를 입력하고, 이를 처리하여 반환되는 **반환값(return value)**이 있다는 정도만 알아둡시다. 
- `bool()` 함수는 인수로 입력된 값을 불리언으로 변환하여 반환합니다.

0이 아닌 값은 `True`로 간주합니다.

In [ ]:
print(bool(True))
print(bool(1))
print(bool(45))
print(bool(-45))

0인 값은 `False`로 간주합니다.

In [ ]:
print(bool(False))
print(bool(0))
print(bool(0.0))
print(bool(-0))

- "불리언.. 대체 왜 배우고 언제 쓰는 거야..?"라고 생각 중이실지 모르겠습니다. 👀
- **조건문과 반복문** 강의에서 불리언의 쓰임과 유용성을 자세히 살펴보겠습니다.

## 정수(Integer, `int`)
- 정수는 모두 숫자로 이루어져 있으며, 분수나 소수점이 없습니다.
- 정수 앞에 부호가 올 수 있습니다. 
- 일반적으로 10진수를 사용하나 그 외 다른 진수로도 표현할 수 있습니다.

In [ ]:
print(type(1))
print(type(25))
print(type(-4))
print(type(0))

### 수리 연산(Numerical Operations)

- 간단한 수리 연산 예제를 살펴봅시다. 
- 다음 표의 연산자(operator)를 활용하여 수리 연산을 수행할 수 있습니다.

|연산자|설명|예시|결과|
|:-|:-|:-|:-|
|+|더하기|5 + 8|13|
|-|빼기|90 - 10|80|
|* |곱하기|4 * 7|28|
|/|부동소수점 나누기|7 / 2|3.5|
|//|정수 나누기(소수점 이하 버림)|7 // 2|3|
|%|나머지|7 % 3|1|
|**|지수|3 ** 4|81|

덧셈과 뺄셈의 예시를 살펴봅시다.

In [ ]:
5 + 9

In [ ]:
100 - 7

In [ ]:
4 - 10

원하는 만큼 숫자와 연산자를 추가하여 계산할 수 있습니다.

In [ ]:
5 + 9 + 3

In [ ]:
4 + 3 - 2 - 1 + 6

숫자나 연산자 사이의 공백은 무시됩니다.

In [ ]:
5+9  +        3

In [ ]:
5+9

곱셈도 해볼까요?

In [ ]:
6 * 7

지수(제곱)는 `**`

In [ ]:
3 ** 2

연산 순서는 수학에서의 연산 순서와 같습니다.
- '*지수 > 곱셈, 나눗셈 > 덧셈, 뺄셈* ' 순서로 진행
- 괄호를 통해 연산 순서 지정 가능

In [ ]:
6 * 3 ** 2 + 2

In [ ]:
6 * (3 ** 2 + 2)

In [ ]:
6 * 3 ** (2 + 2)

나눗셈은 다음 세 가지 연산자의 차이를 이해하셔야 합니다. 
- `/`는 **부동소수점**을 포함한 결과를 반환합니다.
- `//`는 부동소수점을 제외한 결과, 즉 **정수**가 출력됩니다.(나눗셈의 `몫`)
- `%`는 나눗셈의 **나머지**를 반환합니다.

In [ ]:
9 / 5

In [ ]:
9 // 5

In [ ]:
9 % 5

변수의 수리 연산을 살펴보겠습니다.

In [ ]:
a = 3
b = a + 2 
print(b)

In [ ]:
a = 3
a = a + 3
print(a)

In [ ]:
a = 3
a += 3
print(a)

`-=`, `*=`, `**=`, `/=`, `//=`도 가능합니다!

### 진수(Base)
10진수 외의 진수도 표현할 수 있습니다. 
- 2진수(binary): `0b` 또는 `0B`
- 8진수(octal): `0o` 또는 `0O`
- 16진수(hex): `0x` 또는 `0X`

In [ ]:
print(10)
print(0b10)
print(0o10)
print(0x10)

`bool()` 함수와 마찬가지로 `int()` 함수를 통해 다른 자료형의 데이터를 정수로 변환할 수 있습니다.

In [ ]:
print(int(True))
print(int(False))
print(int(1.0))
print(int(1.4))
print(int(1.6))
print(int(1.99))
print(int(2.01))

## 부동소수점(Float, `float`)
정수는 숫자만으로 표현되지만, 부동소수점(floating point) 숫자(Python에서는 `float`)는 소수점을 포함합니다.

In [ ]:
print(type(5.0))

In [ ]:
print(5.)
print(5.0)
print(05.0)

In [ ]:
print(05)

In [ ]:
print(0.1)
print(.1)
print(00.1)

부동소수점 숫자는 문자 `e`와 정수인 지수로 나타낼 수 있습니다.

In [ ]:
print(5e0)
print(5e1) # e1 = 10**1
print(5.0e1)
print(5.0 * (10**1))

`float()` 함수를 통해 다른 자료형을 `float` type으로 변환할 수 있습니다.

In [ ]:
print(float(True)) # boolean
print(float(98)) # integer
print(float('99')) # integer in string
print(float('98.6')) # float in string
print(float('-1.5'))
print(float('1.0e4'))

서로 다른 자료형의 연산을 수행하면 결과는 **더 큰** 자료형으로 나타납니다. (`bool` < `int` < `float`)

In [ ]:
print(False + 0)
print(0 + 0.)
print(False + 0.)
print(True + 0)
print(1 + 0.)
print(True + 0.)

## 텍스트 문자열(Text String, `str`)

작은따옴표(`''`)와 큰따옴표(`""`)를 사용해서 텍스트 문자열을 만들 수 있습니다.

In [ ]:
a = 'hello'
print(type(a))
print(a)

In [ ]:
a = "hello"
print(type(a))
print(a)

In [ ]:
print("'hello'")
print('"hello"')

여러 줄의 문자열은 삼중작은따옴표(`'''`) 또는 삼중큰따옴표(`"""`)로 만들 수 있습니다.

In [ ]:
a = '''
안녕하세요.
반갑습니다.
'''

print(a)

"문자열의 수리적 연산이 가능할까?"

In [ ]:
first = 'Sudong'
last = 'Lee'
name = first + ' ' + last
print(name)

그럼 뺄셈도?!

In [ ]:
print(first - last)

곱셈..?

In [ ]:
print(first * 3)

💡

`str()` 함수를 통해 다른 자료형 데이터를 `str`으로 변환할 수 있습니다.

In [ ]:
print(str(98.6)) # '98.6'
print(str(1.0e4))
print(True)