<a href="https://colab.research.google.com/github/sudonglee/python-for-ds/blob/main/03_%ED%85%8D%EC%8A%A4%ED%8A%B8_%EB%AC%B8%EC%9E%90%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lecture 03. 텍스트 문자열**
- 작성자: 이수동 (울산대학교 산업경영공학부 | sudonglee@ulsan.ac.kr)
- 참고자료: 빌 루바노빅, 『처음 시작하는 파이썬(2판)』, 최길우 옮김, 한빛미디어(2020).

# **Introduction**
- 일반적으로 **데이터 분석**이라고 하면, 숫자만을 다룰 것이라고 생각하기 쉽습니다.
- 하지만 데이터 분석을 실제로 하다 보면 **문자열(string)**과 씨름해야 할 때가 굉장히 많습니다.
- 이 강의에서 문자열은 Python **시퀀스(sequence)**의 첫 번째 예입니다. 문자열은 일련의 **문자(character)**입니다. 
- 이번 강의에서는 간단한 텍스트 문자열을 만들고 이를 다루는 방법들에 대해 배워봅시다.

# **문자열 생성**
작은따옴표(`'`) 또는 큰따옴표(`"`)로 문자열을 생성할 수 있습니다.

In [ ]:
fruit = 'apple'
print(fruit)

In [ ]:
print(type(fruit))

In [ ]:
fruit

In [ ]:
veg = "carrot"
print(veg)

In [ ]:
veg

In [ ]:
print('A student said, "This lecture is awesome!".')
print("You can use 'single quotes' between a pair of 'double quotes'.")

삼중따옴표(`'''`)로 여러 줄의 문자열을 만들 수 있습니다.

In [ ]:
poem = '''
One little, 
Two little, 
Tree little boys.
'''
print(poem)

빈 문자열도 만들 수 있습니다.

In [ ]:
empty_str = ''
print(type(empty_str))

In [ ]:
''

In [ ]:
""

In [ ]:
''''''

In [ ]:
""""""

`str()` 함수는 다른 데이터 타입을 문자열로 변환합니다.

In [ ]:
print(str(98.6))
print(str(1.0e4))
print(str(True))

# **결합하기: `+`**
`+` 연산자를 사용하여 여러 문자열을 결합할 수 있습니다.

In [ ]:
'Python is fun! ' + "Isn't it?"

괄호로 묶어서 여러 줄에 걸쳐 문자열을 결합할 수도 있습니다.

In [ ]:
vowels = ('a' "e" '''i''' 'o' """u""")
print(vowels)

# **복제하기: `*`**
`*` 연산자를 사용하여 문자열을 반복하여 복제할 수 있습니다.

In [ ]:
say = 'Bye '
print(say * 3) # say + say + say

# **문자 추출: [offset]**

## 인덱싱(Indexing)
- 문자열에서 한 문자를 얻기 위해서는 문자열 이름 뒤에 대괄호(`[]`)와 **오프셋(offset)**을 지정합니다. 
- 이는 Python의 시퀀스에 동일하게 적용됩니다. 오프셋으로 시퀀스의 요소(element)를 추출하는 동작을 **인덱싱(indexing)**이라고 부르기도 합니다. 
- 가장 왼쪽의 오프셋은 `0`이고, 그 다음은 `1`, `2`, ...로 진행됩니다. 
- 가장 오른쪽의 오프셋은 `-1`입니다.

In [ ]:
letters = 'abcdefghijklmnopqrstuvwxyz'
print(letters)
print(letters[0])
print(letters[1])
print(letters[5])
print(letters[-1])
print(letters[25])
print(letters[-2])

문자열 범위 밖의 오프셋을 지정하면 다음과 같은 오류(예외)가 출력됩니다.

In [ ]:
letters[100]

## 슬라이싱(Slicing)
- 슬라이싱은 사용하여 한 시퀀스(문자열)에서 여러 요소(문자)로 이루어진 **슬라이스(slice)**를 추출할 수 있습니다.
- 대괄호(`[]`)를 사용하여 시작(`start`) 오프셋, 끝(`end`) 오프셋, 옵션으로 스텝(`step`)을 명시하여 슬라이스를 정의합니다. (일부를 생략할 수 있습니다.)
- 슬라이스는 오프셋의 `start`와 `end-1` 사이 문자를 포함합니다.

아래의 슬라이싱 규칙을 살펴봅시다. 
- `[:]`: 처음부터 끝까지 전체 시퀀스를 추출한다.
- `[start:]`: `start` 오프셋부터 끝까지 시퀀스를 추출한다.
- `[:end]`: 처음부터 `(end - 1)` 오프셋까지 시퀀스를 추출한다.
- `[start : end]`: `start` 오프셋부터 `(end - 1)` 오프셋까지 시퀀스를 추출한다.
- `[start : end : step]`: `step`만큰 문자를 건너뛰면서, `start` 오프셋부터 `(end - 1)` 오프셋까지 시퀀스를 추출한다.

In [ ]:
letters = 'abcdefghijklmnopqrstuvwxyz'
print(letters)

In [ ]:
print('letters[:]\t', letters[:])

In [ ]:
print('letters[20:]\t', letters[20:])
print('letters[10:]\t', letters[10:])
print('letters[:20]\t', letters[:20])
print('letters[:10]\t', letters[:10])

In [ ]:
print(letters[0])
print(letters[1])
print(letters[2])
print(letters[0:2])

In [ ]:
print('letters[12:15]\t', letters[12:15])
print('letters[18:-3]\t', letters[18:-3])
print('letters[-6:-2]\t', letters[-6:-2])

이스케이프(escape) 문자 `\`는 문자열 안의 일부 문자의 의미를 다르게 해석하여 특정 효과를 줄 수 있습니다. 
- `\t`: tab
- `\n`: new line

In [ ]:
print(letters)
print('letters[::7]\t', letters[::7])
print('letters[4:20:3]\t', letters[4:20:3])
print('letters[19::4]\t', letters[19::4])
print('letters[:21:5]\t', letters[:21:5])
print('letters[-1::-1]\t', letters[-1::-1])
print('letters[::-1]\t', letters[::-1])

In [ ]:
print('letters[::7]\n', letters[::7])

In [ ]:
print('letters[-50:]\t', letters[-50:])
print('letters[-51:-50]\t', letters[-51:-50])
print('letters[:70]\t', letters[:70])
print('letters[70:71]\t', letters[70:71])

# **문자열의 길이: `len()`**
`len()` 함수는 시퀀스의 길이, 즉 시퀀스에 포함된 요소의 수를 반환합니다.

In [ ]:
letters = 'abcdefghijklmnopqrstuvwxyz'
print(len(letters))

# **문자열 편집을 위한 다양한 메서드**
- `len()`과 같은 함수는 Python의 모든 시퀀스 타입에 적용할 수 있는 일반적인 **함수(function)**입니다. 
- 반면 객체에 종속되는 함수인 **메서드(method)**는 해당 객체의 타입에만 적용 가능한 특정 기능을 수행합니다. 
- Python은 문자열 편집을 위한 유용한 메서드를 다양하게 제공합니다.

## 문자열 나누기: `split()`

In [ ]:
types = 'int, float, str, bool'
ls = types.split(',')
print(ls)
print(type(ls))

## 문자열 결합하기: `join()`

In [ ]:
print(ls)
print(','.join(ls))

In [ ]:
print('\n'.join(ls))

## 문자열 대체하기: `replace()`
- `str`은 **불변(immutable)** 타입으로 임의의 인덱스에 값을 대입할 수 없습니다. (관련 내용은 *'튜플과 리스트'* 강의에서 자세히 다루겠습니다.)
- 문자열 일부를 대체하기 위해서는 `replace()` 메서드를 사용합니다.

In [ ]:
setup = "a duck goes into a bar..."
setup.replace('duck', 'dog')

`replace()`로 편집된 `setup`이 출력될 뿐, `setup` 변수는 그대로 존재합니다.

In [ ]:
print(setup)

In [ ]:
setup2 = setup.replace('duck', 'dog')
print(setup2)

In [ ]:
print(setup.replace('a ', 'a famous '))
print(setup.replace('a ', 'a famous ', 1))

## 대소 문자

In [ ]:
setup = 'a duck goes into a bar...'

In [ ]:
# 첫 문자를 대문자로 변환
setup.capitalize()

In [ ]:
# 모든 문자를 대문자로 변환
setup.upper()

In [ ]:
# 모든 문자를 소문자로 변환
setup.lower()

## 포매팅
포매팅을 사용하여 변수에 할당된 데이터 값을 문자열에 삽입할 수 있습니다.

In [ ]:
who = 'cat'
where = 'room'
print(f'The {who} goes into the {where}.')

In [ ]:
# Expressions are allowed inside the curly brakets:
print(f'The {who.capitalize()} goes into the {where.rjust(20)}.')