<a href="https://colab.research.google.com/github/sudonglee/python-for-ds/blob/main/06_%ED%8A%9C%ED%94%8C%EA%B3%BC_%EB%A6%AC%EC%8A%A4%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lecture 06. 튜플과 리스트**
- 작성자: 이수동 (울산대학교 산업경영공학부 | sudonglee@ulsan.ac.kr)
- 참고자료: 빌 루바노빅, 『처음 시작하는 파이썬(2판)』, 최길우 옮김, 한빛미디어(2020).

# **Introduction**
- 이전 강의에서는 불리언(`bool`), 정수(`int`), 부동소수점 숫자(`float`), 문자열(`str`) 등의 기본 데이터 타입을 살펴봤습니다. 
- 이들 데이터 타입을 **원자**에 비유한다면, 이번 강의에서 배울 자료구조는 **분자**라고 할 수 있습니다. 즉, 기본 타입들이 다양한 형태로 결합한다는 것을 의미합니다. 
- 컴퓨터 프로그래밍을 하다 보면 많은 경우에 첫 번째, 두번째, ...의 순서를 가지는 항목들의 나열이 필요합니다. 이를 ***시퀀스(sequence)***라고 합니다. 
- 파이썬에는 대표적인 두 가지 ***시퀀스 구조(sequence structure)***, ***튜플(tuple)***과 ***리스트(list)***가 있습니다.

# **튜플(Tuple)**

## 튜플 생성하기: `,`와 `()`
튜플은 다양한 방법으로 생성할 수 있습니다. 먼저 `()`를 사용해서 빈 튜플을 만들어봅시다.

In [ ]:
empty_tuple = ()
print(empty_tuple)

한 요소(element) 이상의 튜플을 만들기 위해서는 각 요소 뒤에 콤마(`,`)를 붙입니다. 먼저, 튜플에 한 요소를 저장해봅니다.

In [ ]:
countries = 'Korea', 
print(countries)

요소가 두 개 이상이면 마지막에는 콤마를 붙이지 않습니다.

In [ ]:
countries = 'Korea', 'Japan'
countries

`()` 없이 `,`만으로도 튜플을 정의할 수 있지만, `()`를 사용하면 튜플을 보다 구분하기 쉽습니다.

In [ ]:
countries = ('Korea', 'Japan')
countries

튜플로 한 번에 여러 변수를 할당할 수 있습니다.

In [ ]:
a, b = countries
print(a)
print(b)

## 생성하기: `tuple()`

`tuple()` 함수는 다른 객체를 튜플로 만들어준다.

In [ ]:
tuple('cat') # str → tuple

In [ ]:
tuple('Korea')

In [ ]:
countries = ['Korea', 'Japan']
print(countries)
countries = tuple(countries) # list → tuple
print(countries)

In [ ]:
tuple(3)

## 결합하기: `+`
`+`로 두 개 이상의 튜플을 결합할 수 있습니다.

In [ ]:
('Korea', 'India') + ('Japan', 'China')

## 항목 복제하기: `*`
`*`  연산자는 `+` 연산자를 반복하는 것과 같습니다.

In [ ]:
countries * 3

## 비교하기

In [ ]:
a = (7, 2)
b = (7, 3)
print(a == b)

In [ ]:
print(a <= b)

In [ ]:
print(a < b)

In [ ]:
a = (2, 7)
b = (1, 8)

In [ ]:
print(a > b)
print(a < b)

## 요소 확인하기: `in`

In [ ]:
countries = ('Korea', 'India', 'Japan', 'China')
print(countries)

In [ ]:
print('Korea' in countries)

In [ ]:
print('Denmark' in countries)

## 수정하기
- 튜플을 수정하는 법: **"할 수 없습니다!"**

In [ ]:
words = ('I', 'am', 'a', 'boy')
words[3] = 'girl'

튜플은 *불가변(immutable)* 타입입니다.

In [ ]:
t1 = ('a', 'b', 'c')
print(t1)
t2 = (1, 2, 3)
t1 += t2
print(t1)

튜플 `t1`을 수정한 것 처럼 보입니다. 하지만 그렇지 않습니다.

In [ ]:
t1 = ('a', 'b', 'c')
print('t1:', t1)
print('id(t1):', id(t1))
t2 = (1, 2, 3)
t1 += t2
print('t1:', t1)
print('id(t1):', id(t1))

- 수정 후 `t1`은 예전의 `t1`이 아닙니다! 
- 메모리 선반 위 `('a', 'b', 'c')`가 담긴 상자에 `t1`이라는 이름표가 붙어 있었습니다. **이 상자는 완전히 밀봉되어 있었습니다.**
- 사용자가 `t1`이라는 이름을 새로운 튜플, `('a', 'b', 'c', 1, 2, 3)`에 사용하고 싶습니다.
- 새로운 상자에 `('a', 'b', 'c', 1, 2, 3)`을 담고, `t1` 이름표를 기존 상자에서 떼어 이 상자에 붙였습니다. 
- 상자의 위치는 `id()`로 확인할 수 있습니다.
- 가변(mutable) 타입은 어떻게 다른지 리스트(list)에서 더 자세히 살펴 보도록 하겠습니다.

# **리스트(List)**
Python에서 가장 중요한 자료형이 무엇인지 제게 묻는다면, 저는 리스트(list)라고 대답하겠습니다!
- 리스트는 데이터를 순차적으로 파악하는 데 매우 유용합니다. 
- 튜플과 달리 리스트는 가변적(mutable)입니다. 즉, 리스트의 현재 위치에서 새로운 요소를 추가, 삭제하거나 기존 요소를 덮어쓸 수 있습니다.

## 생성하기: `[]`
- 리스트는 0개 혹은 그 이상의 요소로 만들어집니다. 
- 콤마(`,`)로 구분하고, 대괄호(`[]`)로 둘러싸여 있습니다.

In [ ]:
empty_list = []
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
integers = [1, 2, 3, 4, 5]
print(empty_list)
print(weekdays)
print(integers)

리스트에는 동일한 값이 여러 번 나올 수 있습니다.

In [ ]:
last_names = ['Kim', 'Lee', 'Park', 'Lee']
last_names

## 생성 및 변환하기: `list()`

`list()` 함수로 빈 리스트를 만들 수 있습니다.

In [ ]:
another_empty_list = list()
another_empty_list

In [ ]:
list('cat')

In [ ]:
countries = ('Korea', 'Japan')
print(countries)
print(list(countries))

## 문자열 분할로 생성하기: `split()`
`split()` 함수(메서드)는 문자열을 구분자 단위로 분할하여 리스트를 생성합니다.

In [ ]:
date = '9/28/2021'
date_list = date.split('/')
date_list

## `[offset]`으로 항목 얻기

문자열과 마찬가지로 리스트도 시퀀스(sequence)이므로 오프셋(offset)으로 특정 위치의 값을 추출할 수 있다.

In [ ]:
countries = ['Korea', 'Japan', 'China']
print(countries[0])
print(countries[1])
print(countries[2])

문자열과 마찬가지로 음수 오프셋은 끝에서부터 거꾸로 값을 추출합니다.

In [ ]:
print(countries[-1])
print(countries[-2])
print(countries[-3])

가능한 범위를 벗어는 오프셋을 입력하면 오류가 발생합니다.

In [ ]:
print(countries[4])

In [ ]:
print(countries[-5])

## 슬라이스로 항목 얻기

**슬라이스**를 사용해서 리스트의 서브시퀀스를 추출할 수 있습니다.

In [ ]:
countries = ['Korea', 'Japan', 'China', 'India']
print(countries[:])
print(countries[0:2])
print(countries[:2])
print(countries[1:])

슬라이스에 스텝을 사용해봅시다.

In [ ]:
print(countries[::2])
print(countries[::-2])
print(countries[::-1])

In [ ]:
countries[::-1]

위 슬라이스는 `countries`에 할당되지 않아서, `countries` 리스트 자체를 반대로 뒤집지는 않습니다.

In [ ]:
print(countries)

`countries`의 순서를 반대로 뒤집기 위해 `list.reverse()` 메서드를 사용합니다.

In [ ]:
countries = ['Korea', 'Japan', 'China', 'India']
print(countries)
print(countries[::-1])
print(countries)
countries.reverse()
print(countries)

리스트 끝에 항목 추가하기: `append()`

- `append()`는 리스트 끝에 새 항목을 한 개씩 추가합니다. 
- 리스트는 가변(mutable)이므로 항목을 추가할 수 있습니다.

In [ ]:
countries = ['Korea', 'Japan', 'China']
countries.append('India')
countries

반면 불가변(immutable) 타입인 튜플은 이러한 기능을 제공하지 않습니다.

In [ ]:
c_tuple = ('Korea', 'Japan', 'China')
c_tuple.append()

!['types'](https://user-images.githubusercontent.com/27403189/149898040-e37bf6cc-dcfd-41c5-b6e0-793df1c2bd6d.png)

## 오프셋과 `insert()`로 항목 추가하기

- `insert()` 메서드는 리스트의 원하는 위치에 항목을 추가할 수 있습니다. 
- Python 시퀀스의 오프셋은 `0`부터 시작한다는 것을 꼭 기억하세요!

In [ ]:
countries = ['Korea', 'Japan', 'China']
countries.insert(2, 'India')
countries

In [ ]:
countries = ['Korea', 'Japan', 'China']
countries[2] = 'India'
countries

In [ ]:
countries.insert(100, 'New Zealand')
countries

## 리스트 병합하기: `extend()`와 `+`
`extend()`를 사용해서 다른 리스트를 병합할 수 있습니다.

In [ ]:
asian_countries = ['Korea', 'Japan', 'China']
european_countries = ['Germany', 'France', 'Italy']

In [ ]:
asian_countries.extend(european_countries)
print(asian_countries)

또는 `+`나 `+=`로 병합할 수도 있습니다.

In [ ]:
print(asian_countries + european_countries)

In [ ]:
asian_countries = ['Korea', 'Japan', 'China']
european_countries = ['Germany', 'France', 'Italy']
asian_countries += european_countries
print(asian_countries)

In [ ]:
print(len(asian_countries))

**[주의]** `append()`를 사용하면 항목을 병합하지 않고 하나의 리스트가 하나의 요소로 추가됩니다.

In [ ]:
asian_countries = ['Korea', 'Japan', 'China']
european_countries = ['Germany', 'France', 'Italy']
asian_countries.append(european_countries)
print(asian_countries)

In [ ]:
print(len(asian_countries))

## `[offset]`으로 항목 바꾸기
오프셋으로 항목을 바꿀 수 있습니다.

In [ ]:
asian_countries = ['Korea', 'Japan', 'China']
asian_countries[2] = 'India'
print(asian_countries)

In [ ]:
asian_countries = ['Korea', 'Japan', 'China']
asian_countries[1] = ['India', 'Vietnam']
print(asian_countries)

## 슬라이스로 항목 바꾸기

In [ ]:
numbers = [1, 2, 3, 4]
numbers[1:3] = [7]
numbers

## 삭제하기: `del`, `remove()`, `pop()`, `clear()`

`del`로 리스트의 특정 요소를 오프셋 기반으로 삭제할 수 있습니다.

In [ ]:
asian_countries = ['Korea', 'Japan', 'China', 'Germany']
del asian_countries[-1]
print(asian_countries)

리스트에서 삭제할 항목의 위치 대신 값을 알고 있다면 `remove()`를 사용하세요.

In [ ]:
asian_countries = ['Korea', 'Japan', 'China', 'Germany']
asian_countries.remove('Germany')
print(asian_countries)

`pop()`은 리스트에서 항목을 가져오는 동시에 그 항목을 삭제합니다.

In [ ]:
asian_countries = ['Korea', 'Japan', 'China', 'India', 'Vietnam']
asian_countries.pop()

In [ ]:
print(asian_countries) # pop()의 인수가 없다면 기본값은 -1

In [ ]:
asian_countries.pop(1)

In [ ]:
print(asian_countries)

`clear()`는 리스트의 모든 요소를 삭제합니다.

In [ ]:
asian_countries = ['Korea', 'Japan', 'China', 'India', 'Vietnam']
asian_countries.clear()
print(asian_countries)

## 존재여부 확인하기: `in`
리스트에서 어떤 값의 존재를 확이하기 위해 `in`을 사용합니다.

In [ ]:
asian_countries = ['Korea', 'Japan', 'China', 'India', 'Vietnam']
print('India' in asian_countries)
print('Italy' in asian_countries)

## 값 세기: `count()`
리스트에 특정 항목이 얼마나 있는지 세기 위해서 `count()`를 사용한다.

In [ ]:
asian_countries = ['Korea', 'Japan', 'China', 'India', 'Vietnam', 'Korea']
print(asian_countries.count('India'), asian_countries.count('Korea'), asian_countries.count('Germany'))

## 정렬하기: `sort()`와 `sorted()`
리스트에 속한 요소들을 값을 기반으로 정렬할 수 있습니다. 
- `sort()`는 리스트 자체를 **내부적으로(in place) 정렬**합니다. 
- `sorted()`는 리스트의 정렬된 **복사본을 반환**합니다.

리스트의 요소가 숫자라면 오름차순(기본값)으로, 문자열이면 알파벳순으로 정렬합니다.

In [ ]:
countries = ['Korea', 'Japan', 'China']
countries.sort()
print(countries)

In [ ]:
countries = ['Korea', 'Japan', 'China']
sorted_countries = sorted(countries)
print(sorted_countries)
print(countries)

In [ ]:
numbers = [2, 1, 4.0, 3]
numbers.sort()
print(numbers)

In [ ]:
numbers = [2, 1, 4.0, 3]
sorted_numbers = sorted(numbers)
print(sorted_numbers)

In [ ]:
print(numbers)

In [ ]:
numbers = [2, 1, 4.0, 3]
numbers.sort(reverse=True)
print(numbers)

## 항목 개수 얻기: `len()`
`len()`은 리스트의 항목 수를 반환합니다.

In [ ]:
numbers = [2, 1, 4.0, 3, 7]
len(numbers)

In [ ]:
tp = ('a', 1, 'Sudong Lee')
len(tp)

In [ ]:
a = [1, 2, [3, 4]]
b = [1, 2, 3, 4]
print(len(a), len(b))

In [ ]:
a[2][0]

## 할당하기: `=`
다음 예제와 같이 한 리스트를 변수 두 곳에 할당했을 때, 한 리스트를 변경하면 다른 리스트도 함께 변경됩니다.

In [ ]:
a = [1, 2, 3]
print(a)
b = a
print(b)
a[0] = 'surprise'
print(a)

`b`에는 무엇이 있을까요? 여전히 `[1, 2, 3]`이 있을까요 아니면 `['surprise', 2, 3]`이 있을까요?

In [ ]:
print(b)

이 예제 기억 하시나요?

<img src='https://user-images.githubusercontent.com/27403189/149526023-7649cf5c-c09d-4094-b490-0a8e29746ff9.png' width=300>

In [ ]:
a = 7
b = a 
print(a)
print(b)

In [ ]:
a = 3
print(a)
print(b)

## 복사하기: `copy()`, `list()`, 슬라이스

다음과 같은 방법을 이용하여 한 리스트를 새로운 리스트로 **복사** 할 수 있다. 
- `copy()` 메서드
- `list()` 변환 함수
- 슬라이스 `[:]`

In [ ]:
a = [1, 2, 3]
b = a.copy() 
c = list(a)
d = a[:]

위 코드에서 생성된 `b`, `c`, `d`는 모두 `a`의 **복사본**입니다. 이들은 자신만의 값을 가진 새로운 객체로, 원본 리스트 객체를 참조하지 않습니다.

In [ ]:
a[0] = 'surprise'
print(a)
print(b, c, d)

## 순회하기: `for`와 `in`
`for`와 `in`을 리스트와 함께 사용하면 반복문을 효과적으로 만들 수 있습니다.

In [ ]:
numbers = [1, 3, 5, 7, 9]
for number in numbers:
    print(number)

In [ ]:
for number in numbers:
    if number % 2 == 0:
        print("I don't like even numbers.")
        break
else:
    print("There is no even number.")

## 여러 시퀀스 순회하기: `zip()`
`zip()` 함수는 여러 시퀀스를 병렬로 순회합니다.

In [ ]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['banana', 'orange', 'peach']
drinks = ['coffee', 'tea', 'beer']
desserts = ['tiramisu', 'ice cream', 'pie', 'pudding']

In [ ]:
for day, fruit, drink, dessert in zip(days, fruits, drinks, desserts):
    print(f'{day} : drink {drink} - eat {fruit} - enjoy {dessert}')

## 리스트 컴프리헨션(List Comprehension)
- 지금까지는 `[]` 또는 `list()` 함수를 사용하여 리스트를 직접 작성했습니다. 
- 리스트 컴프리헨션을 사용하면 `for`/`in` 문의 순회 기능으로 리스트를 만들 수 있습니다.

In [ ]:
# Approach 1
number_list = []
number_list.append(1)
number_list.append(2)
number_list.append(3)
number_list.append(4)
number_list.append(5)
print(number_list)

In [ ]:
# Approach 2
number_list = []
for number in range(1, 6):
    number_list.append(number)
print(number_list)

In [ ]:
# Approach 3
number_list = list(range(1, 6))
print(number_list)

- 위 세 가지 코드 모두 정상 작동하며 같은 결과를 냅니다.
- 하지만 어떤 것이 더 좋아 보이나요? (우리의 시간은 소중합니다.)
- 리스트 컴프리헨션의 가장 간단한 형태는: <br>
</t> [_expression_ for _item_ in *iterable*]

In [ ]:
# List comprehension
number_list = [number for number in range(1, 6)]
print(number_list)

In [ ]:
number_list = [number-1 for number in range(1, 6)]
print(number_list)

조건문을 함께 활용할 수도 있습니다. 👍: <br>
[_expression_ for _item_ in _iterable_ if *condition*]

In [ ]:
a_list = [number for number in range(1, 6) if number % 2 == 1]
print(a_list)

In [ ]:
a_list = []
for number in range(1, 6):
    if number % 2 == 1:
        a_list.append(number)

print(a_list)

리스트 컴프리헨션을 통해 변수에 값을 할당할 수도 있습니다.

In [ ]:
rows = range(1, 4)
cols = range(1, 3)
cells = [(row, col) for row in rows for col in cols]
print(cells)

In [ ]:
rows = range(1, 4)
cols = range(1, 3)
for row in rows:
    for col in cols:
        print(row, col)

# 마치며: 튜플 vs 리스트
- 리스트 대신 튜플을 사용할 수 있다. 
- 하지만 튜플은 리스트의 `append()`, `insert()` 등과 같은 유용한 메서드가 없고, 수정할 수도 없다. 
- 그렇다면 튜플은 언제, 왜 사용하는 걸까?
  - 튜플은 더 적은 공간을 사용한다. 
  - 실수로 튜플의 항목이 손상될 염려가 없다. 
  - 튜플을 딕셔너리 키로 사용할 수 있다. (딕셔너리는 다음 강의 참고)