<a href="https://colab.research.google.com/github/sudonglee/python-for-ds/blob/main/07_%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC%EC%99%80_%EC%85%8B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lecture 07. 딕셔너리와 셋**
- 작성자: 이수동 (울산대학교 산업경영공학부 | sudonglee@ulsan.ac.kr)
- 참고자료: 빌 루바노빅, 『처음 시작하는 파이썬(2판)』, 최길우 옮김, 한빛미디어(2020).

# **딕셔너리(Dictionary)**
- 딕셔너리(dictionary), 단어 그대로 *사전*을 떠올리시면 됩니다. 
- 딕셔너리는 고유한 **키(key)**와 그에 대응하는 **값(value)**로 구성됩니다. (ex. 영한사전의 `apple: 사과`)
- 딕셔너리는 가변(mutable) 자료형이므로 키와 값의 요소를 추가, 삭제, 수정할 수 있습니다.

## 생성하기
중괄호(`{}`) 안에 콤마로 구분된 **키:값** 쌍을 지정하여 딕셔너리를 생성합니다.

In [ ]:
empty_dict = {}
print(empty_dict)
print(type(empty_dict))

In [ ]:
me = {
    'Name': 'Sudong Lee',
    'Gender': 'Male',
    'Nationality': 'Korea'
}
me

`dict()` 함수를 사용하여 새로운 딕셔너리를 만들거나 다른 타입의 객체를 딕셔너리로 변환할 수 있습니다.

In [ ]:
me = dict(Name='Sudong Lee', Gender='Male', Nationality='Korea')
me

In [ ]:
# a list of two-item lists
x = [['a', 'b'], ['c', 'd'], ['e', 'f']]
dict(x)

In [ ]:
# a list of two-item tuples
x = [('a', 'b'), ('c', 'd'), ('e', 'f')]
dict(x)

In [ ]:
# a tuple of two-item lists
x = (['a', 'b'], ['c', 'd'], ['e', 'f'])
dict(x)

In [ ]:
# a tuple of two-item tuples
x = (('a', 'b'), ('c', 'd'), ('e', 'f'))
dict(x)

In [ ]:
# a list of two-character strings
x = ['ab', 'cd', 'ef']
dict(x)

In [ ]:
# a tuple of two-character strings
x = ('ab', 'cd', 'ef')
dict(x)

## 항목 얻기
- 이 기능은 딕셔너리의 가장 일반적인 용도입니다. 
- 딕셔너리의 키를 호출하여 상응하는 값을 얻습니다.

In [ ]:
print(me)

In [ ]:
me['Name']

In [ ]:
me['Weight']

두 번째 방법은 딕셔너리의 `get()` 함수를 사용하는 것입니다.

In [ ]:
me.get('Name')

In [ ]:
me.get('Weight')

In [ ]:
print(me.get('Weight'))

- 딕셔너리의 모든 키/값를 가져오기 위해서는 `keys()`/`values()`를 사용합니다.
- `items()`는 모든 키/값 쌍을 가져옵니다.

In [ ]:
print(me.keys())
print(me.values())
print(me.items())

## 항목 추가/변경
- 키에 참조되는 항목에 값을 할당하여 딕셔너리를 수정할 수 있습니다. 
- 딕셔너리에 이미 존재하는 키라면 그 값은 새 값으로 대체됩니다. 
- 키가 존재하지 않는다면 새 값과 키가 사전에 추가됩니다.

In [ ]:
me = {
    'Name': 'Sudong Lee',
    'Gender': 'Male',
    'Nationality': 'Korea'
}
me

In [ ]:
me['Height'] = '176 cm'
me

In [ ]:
me['Height'] = '185 cm'
me

`**`를 사용하여 여러 딕셔너리를 결합할 수 있습니다.

In [ ]:
first = {'a': 'apple', 'b': 'boy'}
second = {'b': 'bag', 'c': 'candy'}
print({**first, **second})

In [ ]:
{**second, **first}

In [ ]:
third = {'d': 'donuts'}
{**first, **second, **third}

`del`을 사용하여 딕셔너리의 특정 키/값을 삭제할 수 있습니다.

In [ ]:
me

In [ ]:
del me['Nationality']
me

## 딕셔너리 컴프리헨션(Dictionalry Comprehension)
리스트와 같이 딕셔너리도 컴프리헨션 기능을 가지고 있습니다. <br>
`{key_expression : value_expression for expression in iterable}`

In [ ]:
word = 'letters'
for letter in word:
  print(word.count(letter))

In [ ]:
word = 'letters'
letter_counts = {letter: word.count(letter) for letter in word}
letter_counts

In [ ]:
vowels = 'aeiou'
word = 'onomatopoeia'
vowel_counts = {letter: word.count(letter) for letter in word if letter in vowels}
vowel_counts

# **셋(Set)**
- 셋은 수학에서의 **집합**과 같은 개념입니다. 
- 순서 보다는 요소의 **존재 여부**를 확인하기 위해 사용합니다. (ex. 합집합, 교집합, 차집합 등)

## 생성하기
셋을 생성할 때는 `set()` 함수를 사용하거나 중괄호(`{}`) 안에 콤마로 구분된 값을 넣으면 됩니다.

In [ ]:
empty_set = set()
print(empty_set)
print(type(empty_set))

In [ ]:
even_numbers = {0, 2, 4, 6, 8}
odd_numbers = {1, 3, 5, 7, 9}
print(even_numbers, odd_numbers)

In [ ]:
odd_numbers = {1, 5, 5, 9, 3, 7}
odd_numbers

In [ ]:
[1, 5, 5, 9, 3, 7]

`set()` 함수를 사용하여 리스트, 문자열, 튜플, 딕셔너리에서 중복된 값을 삭제하고 셋을 생성합니다.

In [ ]:
set('letters')

In [ ]:
set(['Korea', 'Japan', 'China'])

In [ ]:
set((1, 2, 3))

In [ ]:
set({'Name': 'Sudong Lee', 'Gender': 'Male', 'Nationality': 'Korea'})

## 항목 추가/삭제하기

`add()` 메서드로 셋에 항목을 추가합니다.

In [ ]:
s = set((1, 2, 3))
print(s)
s.add(4)
print(s)

`remove()` 메서드로 셋의 항목을 삭제합니다.

In [ ]:
s = set((1, 2, 3))
print(s)
s.remove(3)
print(s)

## 멤버십 테스트: `in`
- 멤버십 테스트는 셋의 가장 일반적인  용도입니다. 
- 카페에서 파는 여러 종류의 음료를 설명하는 딕셔너리 `cafe`를 만들어 보겠습니다.

In [ ]:
cafe = {
    'espresso': {'espresso'},
    'americano': {'espresso', 'water'},
    'latte': {'espresso', 'milk'},
    'mocha': {'espresso', 'milk', 'chocholate'},
    'hot chocholate': {'milk', 'chocholate'}
}
cafe

- `cafe`의 각 키(음료 이름)에 매칭되는 값(음료 재료)들이 셋으로 정의되어 있습니다. 
- 우유(`milk`)가 포함된 음료를 찾아보겠습니다.

In [ ]:
print(cafe.items())

In [ ]:
a, b = (1, 2)
print(a)
print(b)

In [ ]:
for name, contents in cafe.items():
    if 'milk' in contents:
        print(name)

커피가 마시고 싶은데, 우유는 싫습니다.

In [ ]:
for name, contents in cafe.items():
    if 'espresso' in contents and not 'milk' in contents:
        print(name)

## 조합과 연산자
서로 다른 두 셋 `a`, `b`의 조합을 어떻게 확인할까?
- 교집합(`intersection`): `a`와 `b`에 공통으로 들어 있는 항목
- 합집합(`union`): `a` 또는 `b`에 속한 모든 항목
- 차집합(`difference`): `a`(또는 `b`)에는 있지만 `b`(또는 `a`)에는 없는 항목
- 대칭차집합(`symmetric_difference`): `a` 또는 `b`에만 있는 항목

### 교집합

In [ ]:
a = {1, 2}
b = {2, 3}

In [ ]:
a & b

In [ ]:
a.intersection(b)

### 합집합

In [ ]:
a | b

In [ ]:
a.union(b)

### 차집합

In [ ]:
a = {1, 2}
b = {2, 3}
a - b

In [ ]:
a.difference(b)

In [ ]:
b - a

### 대칭차집합

In [ ]:
a ^ b

In [ ]:
a.symmetric_difference(b)

### 부분집합

In [ ]:
print(f'a: {a}, b: {b}')

In [ ]:
a <= b

In [ ]:
a.issubset(b)

In [ ]:
a_ = {2}
b = {2, 3}
a_.issubset(b)

In [ ]:
print(a <= a)
print(a.issubset(a))

In [ ]:
print(a < b)
print(a_ < b)
print(a < a)

### 상위집합

In [ ]:
print(b >= a)
print(b.issuperset(a))

In [ ]:
print(b >= a_)
print(b.issuperset(a_))

In [ ]:
print(a >= a)
print(a.issuperset(a))
print(a > a)

## 셋 컴프리헨션
셋 컴프리헨션 또한 리스트, 딕셔너리 컴프리헨션과 같은 모양이다. <br>
`{expression for expression in iterable if condition}`

In [ ]:
a_set = {number for number in range(1, 6) if number % 3 == 1}
a_set